<div
  class="tw-flex tw-h-full tw-flex-col tw-items-center tw-justify-center tw-px-6 tw-text-center"
  role="alert"
>
  <bit-status-lockup class="tw-text-main">
    <bit-svg slot="graphic" [content]="illustration"></bit-svg>
    <ng-container slot="title">{{ "healthScanFailed" | i18n }}</ng-container>
    <ng-container slot="description">{{ "healthScanFailedDescription" | i18n }}</ng-container>
    <button slot="button" bitButton type="button" buttonType="primary" (click)="onRetryClick()">
      {{ "tryAgain" | i18n }}
    </button>
  </bit-status-lockup>
</div>
