<popup-page>
  <popup-header slot="header" [pageTitle]="'health' | i18n">
    <ng-container slot="end">
      <app-pop-out />
      <app-current-account />
    </ng-container>
  </popup-header>
  @if (!hasRunHealthScan()) {
    <health-intro (onTriggerHealthScan)="handleHealthScan()" />
  } @else if (loading()) {
    <dirt-health-scanning />
  } @else if (scanFailed()) {
    <dirt-health-scan-error />
  } @else if (report(); as report) {
    <dirt-health-overview [report]="report" [locked]="locked()" (upgrade)="handleUpgrade()" />
  } @else {
    <dirt-health-scanning />
  }
</popup-page>
