<div class="tw-flex tw-flex-col tw-h-full tw-bg-background-alt">
  <bit-section
    disableMargin
    class="tw-sticky tw-top-0 tw-z-10 tw-border-0 tw-border-b tw-border-solid tw-border-secondary-300"
  >
    <bit-section-header class="tw-app-region-drag tw-bg-background">
      <div class="tw-flex tw-items-center tw-pl-4">
        <h2 bitTypography="h4" class="tw-font-semibold tw-text-lg">
          {{ "savePasskey" | i18n }}
        </h2>
      </div>

      <button
        type="button"
        bitIconButton="bwi-close"
        slot="end"
        class="tw-app-region-no-drag tw-mr-2"
        (click)="closeModal()"
        [label]="'close' | i18n"
      >
        {{ "close" | i18n }}
      </button>
    </bit-section-header>
  </bit-section>

  <bit-section class="tw-bg-background-alt tw-p-4 tw-flex tw-flex-col">
    @let ciphers = ciphers$ | async;
    @if (ciphers == null) {
      <!-- Loading matching ciphers; render nothing until the list resolves. -->
    } @else if (ciphers.length === 0) {
      <bit-status-lockup>
        <bit-svg slot="graphic" [content]="Icons.NoResults"></bit-svg>
        <ng-container slot="title">{{ "noMatchingLoginsForSite" | i18n }}</ng-container>
        <button
          bitButton
          buttonType="primary"
          slot="button"
          type="button"
          (click)="confirmPasskey()"
        >
          {{ "savePasskeyNewLogin" | i18n }}
        </button>
      </bit-status-lockup>
    } @else {
      @for (c of ciphers; track c.id) {
        <bit-item>
          <button type="button" bit-item-content (click)="addCredentialToCipher(c)">
            <app-vault-icon [cipher]="c" slot="start"></app-vault-icon>
            <span [title]="c.name">{{ c.name }}</span>
            <span slot="secondary">{{ c.subTitle }}</span>
            <span bitBadge slot="end">{{ "save" | i18n }}</span>
          </button>
        </bit-item>
      }
      <bit-item>
        <button type="button" bit-item-content class="!tw-py-4" (click)="confirmPasskey()">
          <span class="tw-text-fg-brand tw-font-semibold">{{ "saveNewPasskey" | i18n }}</span>
        </button>
      </bit-item>
    }
  </bit-section>
</div>
