<div class="tw-flex tw-flex-col tw-h-full">
  <bit-section
    disableMargin
    class="tw-border-0 tw-border-b tw-border-solid tw-border-secondary-300"
  >
    <bit-section-header class="tw-app-region-drag tw-bg-background">
      <div class="tw-flex tw-items-center tw-pl-4">
        <h2 bitTypography="h4" class="tw-font-semibold tw-text-lg">
          {{ "savePasskey" | i18n }}
        </h2>
      </div>

      <button
        type="button"
        bitIconButton="bwi-close"
        slot="end"
        class="tw-app-region-no-drag tw-mr-2"
        (click)="closeModal()"
        [label]="'close' | i18n"
      >
        {{ "close" | i18n }}
      </button>
    </bit-section-header>
  </bit-section>

  <div class="tw-h-full tw-items-start">
    <bit-section
      class="tw-flex tw-bg-background-alt tw-flex-col tw-justify-start tw-items-center tw-gap-2 tw-h-full tw-px-5"
    >
      <bit-status-lockup>
        <bit-svg slot="graphic" [content]="Icons.NoResults"></bit-svg>
        <ng-container slot="title">{{ "passkeyAlreadyExists" | i18n }}</ng-container>
        <ng-container slot="description">{{
          "applicationDoesNotSupportDuplicates" | i18n
        }}</ng-container>
        <button bitButton buttonType="primary" slot="button" type="button" (click)="closeModal()">
          {{ "close" | i18n }}
        </button>
      </bit-status-lockup>
    </bit-section>
  </div>
</div>
