@if (showPremiumCallout()) {
  <div class="tw-m-4">
    <bit-callout type="subtle" [title]="'premiumSubscriptionEnded' | i18n">
      <div>{{ "premiumSubscriptionEndedDesc" | i18n }}</div>
      <a bitLink href="#" appStopClick (click)="navigateToGetPremium()">
        {{ "restartPremium" | i18n }}
      </a>
    </bit-callout>
  </div>
}
<div class="tw-px-8 tw-pb-6 tw-flex tw-flex-col tw-flex-1 tw-min-h-0">
  <vault-items-table
    [ciphers]="ciphers()"
    [folders]="folders()"
    [collections]="collections()"
    [organizations]="organizations()"
    [loading]="loading()"
    [rowActions]="rowActions()"
    [itemAction]="itemAction"
    (selectedChange)="handleSelectionChange($event)"
  >
    @if (showAddCipherBtn()) {
      <div slot="toolbar" class="tw-flex tw-items-center tw-gap-3">
        <button
          id="vault-list-table_button_import"
          type="button"
          bitButton
          startIcon="bwi-download"
          buttonType="secondary"
          (click)="onImport.emit()"
        >
          {{ "importNoun" | i18n }}
        </button>
        <vault-new-cipher-menu
          [canCreateCipher]="canCreateCipher()"
          [canCreateFolder]="true"
          [canCreateSshKey]="true"
          [disabled]="!canCreateCipher()"
          (cipherAdded)="onAddCipher.emit($event)"
          (folderAdded)="onAddFolder.emit()"
          (onAddItemDialog)="onAddItemDialog.emit()"
        />
      </div>
    }
  </vault-items-table>
</div>
